.email-icon{
	width: 132px;
}
.email-send-theme{
	color:#5cb85c;
}
.PageContainer {
-moz-box-sizing: border-box;
box-sizing: border-box;
background: white;
max-width: 880px;
margin: 20px auto;
border-radius: 6px;
border: 1px solid #e1e8ed;
}
.Section {
padding: 40px 30px 0 130px;
margin-bottom: 25px;
}
div {
display: block;
}
html {
font-family: sans-serif;
color: #292f33;
}
p {
font-size: 14px;
color: #66757f;
line-height: 18px;
margin-bottom: 20px;
max-width: 400px;
}