#forget_password_main_div{
								border-style: solid;
								border-width: 1px;
								margin-left: 30%;
								margin-top: 9%;
								width: 700px;
								height: 300px;
								margin: 20px auto;
								border-radius: 6px;
								border: 1px solid #e1e8ed;
}
.Section {
padding: 40px 30px 0 130px;
margin-bottom: 25px;
}

.PageHeader {
								font-size: 22px;
								font-weight: 200;
								margin-bottom: 3px;
}
p {
								font-size: 14px;
								color: #66757f;
								line-height: 18px;
								margin-bottom: 20px;
								max-width: 400px;
}

form {
								display: block;
								margin-top: 0em;
}
input {
								line-height: normal;
}
button, input, optgroup, select, textarea {
								color: inherit;
								font: inherit;
								margin: 0;
}

input[type="hidden"], input[type="image"], input[type="file"] {
								-webkit-appearance: initial;
								padding: initial;
								background-color: initial;
								border: initial;
}
.Form-textbox {
								width: 300px;
								padding: 4px;
								border-radius: 3px;
								line-height: 20px;
								border: 1px solid #ccd6dd;
								outline: 0;
								font-size: 14px;
								margin: 5px 10px 5px 0;
}
.Form-title{

}

.Form-message {
								font-size: 13px;
								color: #66757f;
}
input[type="submit"] {
								-webkit-appearance: button;
								cursor: pointer;
}
.Form input[type="submit"] {
								display: block;
								margin-top: 25px;
}
.Button {
								font-size: 14px;
								font-weight: bold;
								color: white;
								padding: 8px 16px;
								border: 1px solid #5cb85c;
								border-radius: 4px;
								background-color: #5cb85c;
								outline: 0;
								background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.05));
								display: inline-block;
}