#reset_password_main_div {
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							background: white;
							max-width: 880px;
							margin: 20px auto;
							border-radius: 6px;
							border: 1px solid #e1e8ed;
}
.Section {
							padding: 40px 30px 0 130px;
							margin-bottom: 25px;
}
div {
							display: block;
}
.PageHeader {
							font-size: 22px;
							font-weight: 200;
							margin-bottom: 3px;
}
a {
							color: #55d2ee;
							text-decoration: none;
}
a {
							background: transparent;
}
input[type="hidden"], input[type="image"], input[type="file"] {
							-webkit-appearance: initial;
							padding: initial;
							background-color: initial;
							border: initial;
}
.Form input[type="radio"], .Form input[type="checkbox"] {
							margin-right: 3px;
}
input[type="checkbox"], input[type="radio"] {
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							padding: 0;
}
b, strong {
							font-weight: bold;
}
ul {
							list-style-type: none;
							padding: 0;
							line-height: 1.5;
}
li {
							display: list-item;
							text-align: -webkit-match-parent;
}
label {
							display: inline-block;
							max-width: 100%;
							margin-bottom: 5px;
							font-weight: bold;
}

input[type="submit"], input[type="reset"] {
							-webkit-appearance: push-button;
							-webkit-user-select: none;
							white-space: pre;
}
.Button {
								font-size: 14px;
								font-weight: bold;
								color: white;
								padding: 8px 16px;
								border: 1px solid #5cb85c;
								border-radius: 4px;
								background-color: #5cb85c;
								outline: 0;
								background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.05));
								display: inline-block;
}